APP_Clientes/Service References/ServiceClientes/ServicioCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioCliente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52022/ServicioCliente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52022/ServicioCliente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52022/ServicioCliente.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioCliente_ClienteListar_InputMessage">
    <wsdl:part name="parameters" element="tns:ClienteListar" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_ClienteListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClienteListarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_PedidosCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:PedidosCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_PedidosCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:PedidosClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_ProductoListar_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductoListar" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_ProductoListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductoListarResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioCliente">
    <wsdl:operation name="ClienteListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCliente/ClienteListar" message="tns:IServicioCliente_ClienteListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCliente/ClienteListarResponse" message="tns:IServicioCliente_ClienteListar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PedidosCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCliente/PedidosCliente" message="tns:IServicioCliente_PedidosCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCliente/PedidosClienteResponse" message="tns:IServicioCliente_PedidosCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductoListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCliente/ProductoListar" message="tns:IServicioCliente_ProductoListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCliente/ProductoListarResponse" message="tns:IServicioCliente_ProductoListar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioCliente" type="tns:IServicioCliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClienteListar">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/ClienteListar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PedidosCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/PedidosCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductoListar">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/ProductoListar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioCliente">
    <wsdl:port name="BasicHttpBinding_IServicioCliente" binding="tns:BasicHttpBinding_IServicioCliente">
      <soap:address location="http://localhost:52022/ServicioCliente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>